.general {
  margin-top: 10px;
}

.button {
  border: 0;
  background: none;
}

.generalContent {
  margin-top: 10px;
  color: white;
  text-align: center;
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icon:hover {
  transform: scale(1.1);
}

.icon:hover {
  transform: scale(1.1);
}
