.seasonsSlider {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 10px 0;
  scrollbar-width: none;
}

.seasonButton {
  flex: 0 0 auto;
  padding: 10px 20px;
  border: 0;
  background: none;
  color: #333;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.seasonButton:hover {
  border-color: #ffffff;
  color: white;
}

.seasonButton.active {
  border-color: #007bff;
  background-color: #007bff;
  color: black;
  background: none;
}
