* {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: -1;
  background-repeat: no-repeat;
}

.fade {
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 70%
  );
}

.headerContent {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}
.title {
  font-size: 2.5rem;
  margin: 0;
}

.genres {
  font-size: 1.2rem;
  margin: 5px 0;
}

.year {
  font-size: 1rem;
  margin: 0;
}
